.footer{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: black;
    padding-top: 0;  
}
.footerlink{
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0 2rem;
}

.footerlink-contact,
.footerlink-logo,
.footerlink-work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}
.footerlink-logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}


.footerlink-work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
}

.footericon {
    margin-top: 0.5rem;
}

.footericon svg {
    color: white;
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}

.footericon svg:hover {
    color:  #d4af37;
}

.F-headtext{
    font-family: var(--font-base);
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 1rem;
}

.fcopyright{
        margin-top: 3rem;
      
}


@media screen and (min-width: 2000px) {
    .F-headtext {
        font-size: 51px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 1150px) {
.footerlink {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

   .footerlink-contact,
.footerlink-logo,
.footerlink-work  {
        margin: 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
   .footerlink {
        padding: 0 0 2rem 0;
    }
}

@media screen and (max-width: 350px) {
   .footerlink-logo img:first-child {
        width: 80%;
    }
}