.appheader{
       background-color: black
}
.textheader {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  color: white;

}
.headerh1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d4af37;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 80px;
   
}
.wrapperimg img {
  width: 80%;
}

@media screen and (min-width: 2000px) {
   .headerh1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .headerh1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .headerh1 {
        font-size: 60px;
        line-height: 77px;
    }
}

@media screen and (max-width: 450px) {
   .headerh1 {
        font-size: 50px;
        line-height: 70px;
    }
}